<table class="app-sidenav">
 <template ngFor let-saisie [ngForOf]="saisies" [ngForTrackBy]="assetTrackBy" >
  <tr class="result_fix">{{saisie.name }}</tr>
  <tr *ngIf="saisie.id=='fs_section'">
    <td>{{sectionFields.name}}</td>
    <td>
      <select [ngModel]="sectionType" (ngModelChange)="sectionChange($event)">
        <option *ngFor="let type of sectionFields.select" value={{type.id}}>
        {{type.name}}
        </option>  
      </select>  
    </td>
  </tr>

  <tr *ngIf="saisie.id=='fs_section'" class="result_fix" > Définition de la section {{selectedSection.name}}</tr>
  <tr *ngIf="saisie.id=='fs_section'">
    <td></td>
    <td></td>
    <td> fixé </td>
    <td> à varier</td>
    <td *ngIf="saisie.option =='cal'"> à calculer </td>
  </tr> 
  <template *ngIf="saisie.id=='fs_section'" ngFor let-param [ngForOf]="selectedSection.definition" [ngForTrackBy]="assetTrackBy">
  <tr >
   <td>{{param.name}}</td> 
   <td ><input type="text" id="{{param.id}}" value="{{param.value}}" [(ngModel)]="v[param.id]" maxlength="30" (keypress)='isNumber($event)' required></td>
   <td align="center">
      <input id="fix_{{param.id}}" type="radio" name="choix_champ_{{param.id}}" [checked]="glob[param.id]=='fix'" (change)="glob[param.id]='fix'" value="fix" (click)="gestionRadios(param.id,'fix');"> 
    </td>
    <td  align="center">
      <input id="var_{{param.id}}" type="radio" name="choix_champ_{{param.id}}" [checked]="glob[param.id]=='var'" (change)="glob[param.id]='var'" value="var" (click)="gestionRadios(param.id,'var');"> 
    </td>
    <td *ngIf="saisie.option=='cal'" align="center">
      <input id="cal_{{param.id}}" type="radio" name="choix_champ_{{param.id}}" [checked]="glob[param.id]='cal'" (change)="glob[param.id]='cal'" value="cal" (click)="gestionRadios(param.id,'cal');"> 
    </td>
   </tr>
  </template>
  
  
  <tr *ngIf="saisie.id=='fs_materiau'">
    <td> {{mat_fields.name}} </td>
    <td colspan=4>
       <select [ngModel]="selectedType" (ngModelChange)="onChange($event)" >
           <option *ngFor="let materiau of mat_fields.select" value= {{materiau.id}}>
            {{materiau.name}}
           </option>
       </select>
    </td>
  </tr>
  <template *ngIf="saisie.id == 'fs_materiau'" ngFor let-type [ngForOf]="mat_fields.select" [ngForTrackBy]="assetTrackBy">
    <tr *ngFor="let parameter of type.parameters">
        <td *ngIf="type.id==1">{{parameter.id}}</td>
        <td *ngIf="type.id==1"><input id="{{parameter.id}}" type="text" value="{{parameter.value}}" [(ngModel)]="v_mat[parameter.id]" (keypress)='isNumber($event)' maxlength="30" required></td>

    </tr>
</template>

    <tr *ngIf="saisie.option!='fix' && saisie.id!='fs_materiau' && saisie.id!='options' &&  saisie.id!='fs_section'">
      <td> </td>
      <td></td>
      <td> fixé </td>
      <td>à varier</td>
      <td *ngIf="saisie.option =='cal'">à calculer </td>
    </tr>
    <template ngFor let-field [ngForOf]="saisie.fields" [ngForTrackBy]="assetTrackBy">
    <tr [hidden]="saisie.id == 'fs_materiau' || saisie.id == 'fs_section'">
      <td > {{field.id}} : {{field.name}} ({{field.unit}}) </td>
      <td *ngIf="saisie.id=='fs_param_calc'"> <input id="{{field.id}}" type="text" value="{{field.value}}" [(ngModel)]="precision" maxlength="30" (keypress)='isNumber($event)' required></td>
      <td *ngIf="saisie.id!='fs_param_calc'"> <input [disabled]="glob[field.id]!='fix'" id="{{field.id}}" type="text" value="{{field.value}}" [(ngModel)]="v[field.id]" maxlength="30"  (keypress)='isNumber($event)' required></td>
      <td  align="center" *ngIf="saisie.option!='fix'"><input id="fix_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [checked]="glob[field.id]=='fix'" (change)="glob[field.id]='fix'" value="fix" (click)="gestionRadios(field.id,'fix');" ></td>
      <td  align="center" *ngIf="saisie.option!='fix'"><input id="var_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [checked]="glob[field.id]=='var'" value="var" (change)="glob[field.id]='var'" (click)="gestionRadios(field.id,'var');" ></td>
      <td  align="center" *ngIf="saisie.option=='cal'"><input id="cal_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [checked]="glob[field.id]=='cal'" value="cal" (change)="glob[field.id]='cal'" (click)="gestionRadios(field.id,'cal');" ></td>
    
    </tr>
    <tr *ngFor="let option of options" [hidden]="varVar_inter!=field.id || saisie.id == 'fs_materiau' || saisie.id == 'fs_section'" class="alert alert-success box-msg" role="alert" >
        <td> </td>
        <td> </td>
        <td> {{option.name}} </td>
        <td><input id="{{option.id}}" type="text" value="{{option.value}}" [(ngModel)]="paramVar[option.id]" maxlength="30" (keypress)='isNumber($event)' required></td>
        <td> </td>
     </tr>
     </template>
    </template>

    <tr>
      <button (click)="getResult()"> Calculer </button>
    </tr>
  </table>
  <!-- Affichage des résultats -->
  <div id="result_table" *ngIf="showResult" class="app-sidenav" role="alert">
    <div *ngIf="showVar">
      <chart [options]="lineChartOptions"></chart>
    </div>
    <table style="width:600px;float:left" cols=2 >
      <tr class="result_fix">
        <td> Paramètres fixés </td>
        <td> Valeurs </td>
      </tr>
      <tr *ngFor="let result of tabResults" >
        <td [hidden]="result.id==varVar"> {{result.id}}  : {{result.name}} ({{result.unit}}) </td>
        <td [hidden]="result.id==varVar"> {{result.value | PipeNumbers : precision}} </td>
      </tr>
      <tr class="result_fix" *ngIf="!showVar">
        <td>{{idCal}} : {{nomCal}} ({{unitCal}}) </td>
        <td> {{result | PipeNumbers : precision}} </td>
      </tr>    
    </table> 

    <table *ngIf="var_table" style="width:600px;float:left;margin-left:10;" >
      <td>
        <tr><b>{{varVar}} : {{nomVar}} ({{unitVar}})</b></tr>
        <tr *ngFor="let label of lineChartLabels"> {{label | PipeNumbers : precision}} </tr>
      </td>
      <td>
        <tr> <b> {{idCal}} : {{nomCal}} ({{unitCal}}) </b></tr>
        <tr *ngFor="let data of lineChartData"> {{data | PipeNumbers : precision}} </tr>
      </td>
    </table>
  </div> 
