
<h4>Caractéristiques hydrauliques</h4>
<table>
    <tr>
      <td> </td>
      <td></td>
      <td> Paramètre fixé </td>
      <td>Paramètre à varier</td>
      <td>Paramètre à calculer</td>
    </tr>
    <template ngFor let-field [ngForOf]="fields" [ngForTrackBy]="assetTrackBy">
    <tr>
      <td> {{field.id}} : {{field.name}} </td>
      <td> <input id="{{field.id}}" type="text" value="{{field.value}}" [(ngModel)]="v[field.id]" maxlength="30"></td>
      <td align="center"><input id="fix_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [(ngModel)]="glob[field.id]" value="fix" (click)="gestionRadios(field.id,'fix');" ></td>
      <td align="center"><input id="var_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [(ngModel)]="glob[field.id]" value="var" (click)="gestionRadios(field.id,'var');" ></td>
      <td align="center"><input id="cal_{{field.id}}" type="radio" name="choix_champ_{{field.id}}" [(ngModel)]="glob[field.id]" value="cal" (click)="gestionRadios(field.id,'cal');" ></td>
    </tr>
    <tr *ngFor="let option of options" [hidden]="varVar!=field.id" class="alert alert-success box-msg" role="alert" >
        <td> </td>
        <td> </td>
        <td> {{option.name}} </td>
        <td><input id="{{option.id}}" type="text" value="{{option.value}}" [(ngModel)]="paramVar[option.id]" maxlength="30"></td>
        <td> </td>
     </tr>
    </template>
    <tr> Paramètres de calcul </tr>

    <tr>
      <td>Précision de calcul(m) </td>
      <td><input id="pr" type="text" value="0.001"></td>
    </tr>

    <tr>
      <button (click)="calculer()"> Calculer </button>
    </tr>

  </table><br>

  <div id="result_table" *ngIf="showResult" class="alert alert-success box-msg" role="alert">
    <div *ngIf="showVar">
      <chart [options]="lineChartOptions"></chart>
    </div>
    <table style="width:600px;float:left">
      <td>
        <tr><b> Paramètres </b></tr>
        <tr *ngFor="let id of tabResults.ids" [hidden]="id==varVar">
          {{id}} 
        </tr>
        <b><tr *ngIf="!showVar">{{idCal}}</tr></b>
      </td>
      <td>
        <tr><b>fixés </b></tr>
        <tr *ngFor="let nom of tabResults.noms" [hidden]="nom==nomVar">
           {{nom}}
        </tr>
        <b><tr *ngIf="!showVar">{{nomCal}}</tr></b>
      </td>
      <td>
        <tr><b>Valeurs</b></tr>
        <tr *ngFor="let value of tabResults.values">
          {{value}}
        </tr>
        <b><tr *ngIf="!showVar" >{{result}}</tr></b>
      </td>           
     
    </table> 

    <table *ngIf="showVar" style="width:600px;float:left;margin-left:10;" >
      <td>
        <tr><b>{{varVar}} : {{nomVar}}</b></tr>
        <tr *ngFor="let label of lineChartLabels"> {{label}} </tr>
      </td>
      <td>
        <tr> <b> {{idCal}} : {{nomCal}} </b></tr>
        <tr *ngFor="let data of lineChartData"> {{data}} </tr>
      </td>
    </table>
  </div>
