<!--<nav *ngFor="let calculator of calculators">
    <a routerLink={{calculator.id}} routerLinkActive="active" >{{calculator.name}}</a>
</nav>-->
<md-sidenav-layout>
    <md-sidenav #sidenav mode="side">
        <md-nav-list *ngFor="let calculator of calculators">
            <a md-list-item routerLink={{calculator.id}} routerLinkActive="active" >
                <span md-line>{{calculator.name}}</span>
            </a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()" >
         >>
         </button>
         Calculettes pour l'hydraulique
         <span></span>
    </md-toolbar>
<router-outlet></router-outlet>